body {
  font-family: Arial,sans-serif;
  background: #ECE9E6;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); 
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}
.login-page {
  width: 360px;
  padding: 100px 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #eaeaea;
  max-width: 360px;
  margin: 0 auto 10px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid #ccc;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  outline: 0;
  background: #eaeaea;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #333;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border: 3px solid #FFDB4D;
}
.form button:hover,.form button:active,.form button:focus {
  background: #FFDB4D;
}
.form button:disabled { 
  background: #ccc; 
  border-color: #666; 
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.result {
  font-size: 11px;
  border-top: 2px solid #ccc;
  background-color: #eaeaea;
  padding: 10px;
}
.form .error {
  border: 1px solid red;
}
.success {
  background-color: green;
  color: #fff;
}
.form+.error {
  background-color: red;
  color: #fff;
}